{% extends 'base.html' %}

{% block main %}


<div class="row">
  <div class="col-sm">
    <h1 class="display-4">Does this tweet contain symptoms?</h1>
    <div class="jumbotron">
      <blockquote class="blockquote">
        <p class="lead">{{tweet.text}}</p>
      </blockquote>
    </div>
  <p>
    <a href='/annotate/{{tweet.pk}}/1/' class="btn btn-primary btn-lg">Yes</a>
    <a href='/annotate/{{tweet.pk}}/0/' class="btn btn-warning btn-lg">No</a>
    <a href='/' class="btn btn-secondary btn-lg">skip</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    Your contribution will help us bla bla bla
  </div>
</div>

<h2>See the already annotated tweets</h2>

<table>

  <tr>
    <th>Tweet</th>
    <th>Symptom?</th>
    <th>UUID</th>
    <th>added at</th>
  </tr>

{%for ta in tweet_annotations%}
<tr>
  <td>{{ta.tweet.text}}</td>
  <td>{{ta.symptom}}</td>
  <td>{{ta.uuid}}</td>
  <td>{{ta.created}}</td>
</tr>
{%endfor%}
</table>

{% endblock main %}
